.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 9%;
}

.header.active{
    background: #040608;
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
}

.header .logo i{
    padding-right: .5rem;
    color: var(--primary);
}

.header .navbar a{
    font-size: 2rem;
    color: var(--white);
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar a.active,
.header .navbar a:hover{
    color: var(--primary);
}

#menu{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    color: var(--primary);
    cursor: pointer;
    display: none;
}
